body {
    background-color: #DBDBDB;
    margin: 0;
    font-size: 24px;
}

h1 {
    font-family: 'Poppins', 'Verdana', sans-serif;
    font-weight: 700;
    margin: 0.5em;
    margin-inline-start: 0.5em;
    margin-inline-end: 0.5em;
    font-size: 36px;
    width: fit-content;
}

.exit-btn {
    text-align: right;
}

#exit {
    font-size: 20px;
    margin-right: 0.5em;
    background-color: #FF6363;
    border-radius: 8px;
    border: none;
    padding: 0.5em 1em;
}

.stats {
    font-family: 'Poppins', 'Verdana', sans-serif;
    font-weight: 300;
    font-size: 1em;
    width: 100%;
}

table {
    padding-left: 4em;
    width: 100%;
}

.buy {
    width: 40%;
    font-weight: 600;
    text-align: center;
    border-right: thin solid #3c3c3c;
    height: 15em;
}

.sell {
    width: 40%;
    text-align: center;
    border-right: thin solid #3c3c3c;
    height: 15em;
}

.portfolio {
    width: 20%;
    text-align: center;
    height: 15em;
}

.buy-sell {
    font-family: 'Poppins', 'Verdana', sans-serif;
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.subheading {
    font-family: 'Poppins', 'Verdana', sans-serif;
    font-weight: 600;
    font-size: 1em;
}