body {
    background-color: #DBDBDB;
    margin: 0;
    font-size: 24px;
}

h1 {
    font-family: 'Poppins', 'Verdana', sans-serif;
    font-weight: 700;
    margin: 0.5em;
    margin-inline-start: 0.5em;
    margin-inline-end: 0.5em;
    font-size: 36px;
    width: fit-content;
}

.exit-btn {
    text-align: right;
}

#exit {
    font-size: 20px;
    margin-right: 0.5em;
    background-color: #FF6363;
    border-radius: 8px;
    border: none;
    padding: 0.5em 1em;
}

.stats {
    font-family: 'Poppins', 'Verdana', sans-serif;
    font-weight: 300;
    font-size: 1em;
    width: 100%;
}

table {
    padding-left: 4em;
    width: 100%;
}

td {
    width: 33.33%;
}

.buy {
    width: 40%;
    font-weight: 600;
    border-right: thin solid #3c3c3c;
    height: 15em;
}

.sell {
    width: 40%;
    border-right: thin solid #3c3c3c;
    height: 15em;
}

.portfolio {
    width: 20%;
    height: 15em;
}

.buy-sell {
    font-family: 'Poppins', 'Verdana', sans-serif;
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.subheading {
    font-family: 'Poppins', 'Verdana', sans-serif;
    font-weight: 600;
    font-size: 1em;
    text-align: center;
}

select {
    width: 70%;
    height: 40px;
    border: none;
    border-radius: 0px;
    font-size: 0.7em;
    border-radius: 5px;
}

.content {
    text-align: center;
}

#option {
    font-size: 1em;
    height: 40px;

}

.flex {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.trend {
    width: 25%;
    padding-left: 3px;
}

.buy-button {
    margin-top: 2em;
    height: 2.5em;
    font-family: 'Poppins', 'Verdana', sans-serif;
    font-size: 0.7em;
    border-radius: 50px;
    border: none;
    width: 100px;
    background-color: #549A63;
}

.buy-button:hover {
    background-color: #458d55;
}

textarea {
    width: 125px;
    border-radius: 10px;
    border: none;
    font-family: 'Poppins', 'Verdana', sans-serif;
    font-size: 0.7em;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    resize: none;
}

.sell-button {
    margin-top: 2em;
    height: 2.5em;
    font-family: 'Poppins', 'Verdana', sans-serif;
    font-size: 0.7em;
    border-radius: 50px;
    border: none;
    width: 100px;
    background-color: #FF8F8F;
}

.sell-button:hover {
    background-color: #ff8f8fde;
}